<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ezt.mapper.UserMapper">

	<sql id="base">
		#{createTime},
		#{createBy},
		#{updateTime},
		#{updateBy}
	</sql>
	
	<select id="findUserByUP" resultMap="userRM">
		select
		u.*,
		ri.*
		from
		user u
		left join user_role ur on u.user_id=ur.user_id
		left join role_info ri
		on ri.role_id=ur.role_id
		where u.username=#{username} and
		u.password=#{password}
	</select>
	
	<select id="findUserAndRole" resultMap="userRM">
		select
		u.*,
		ri.*
		from
		user u
		left join user_role ur on u.user_id=ur.user_id
		left join role_info ri
		on ri.role_id=ur.role_id
	</select>
	
	<select id="findUserByName" resultMap="userRM">
		select
		u.*,
		ri.*
		from
		user u
		left join user_role ur on u.user_id=ur.user_id
		left join role_info ri
		on ri.role_id=ur.role_id
		where u.user_id=#{username}
	</select>

	<insert id="createUser">
		insert into user(
		user_id,
		username,
		password,
		name,
		gender,
		telephone,
		address,
		create_time,
		create_by,
		update_time,
		update_by
		) values (
		#{userId},
		#{username},
		#{password},
		#{name},
		#{gender},
		#{telephone},
		#{address},
		<include refid="base"></include>
		)
		
	</insert>

	<resultMap type="User" id="userRM" autoMapping="true">
		<id column="user_id" property="userId" />

		<association property="role" javaType="Role" resultMap="roleRM" />
	</resultMap>

	<resultMap type="Role" id="roleRM" autoMapping="true">
		<id column="role_id" property="roleId" />
	</resultMap>
</mapper>